[submodule "ovnicraft/server-tools"]
	path = ovnicraft/server-tools
	url = git@github.com:ovnicraft/server-tools.git
	branch = 10.0

[submodule "OCA/account-financial-tools"]
	path = OCA/account-financial-tools
	url = git@github.com:OCA/account-financial-tools.git
	branch = 10.0
